@{
	ViewData["Title"] = "Home Page";
}
@using ARSFD.Database
@inject ApplicationDbContext context

@{
	@*
		// Test code
		context.Appointments.Add(new Appointment
		{
			Date = DateTime.Now,
			DoctorId = "testId",
			UserId = "testd",
		});
		context.SaveChanges();

		foreach (Appointment app in context.Appointments.ToArray())
		{
			<h1>
				@app.Date
				-
				@app.DoctorId
				-
				@app.UserId
			</h1>
		}*@
}